.RadioComponent {
  border-radius: 25px;
  background: #73AD21;
  display: inline-block;
  margin-left: 1em;
  margin-right: auto;
  margin-top: 20em;
  margin-bottom: auto;
  overflow:visible;
}

.Feet {
  width: 100%;
  display: inline-block;
}
