.RadioComponent {
  position: fixed;
  border: red;
  border-color: 2px;
  border-radius: 25px;
  background: #73AD21;
  width: 50em;
  height: 30em;

  margin-left: 1em;
  margin-right: auto;
  margin-top: 20em;
  margin-bottom: auto;
  overflow:hidden;
}
