.RadioBodyComponent {
  border-top-left-radius: 110% 101%;
  border-top-right-radius: 43% 74%;
  border-bottom-right-radius: 47% 70%;
  border-bottom-left-radius: 35% 55%;

  background: #b5f0f7;

  width: 43em;
  height: 20em;
  overflow: hidden;
}
